{% if forum.is_root_cat %}
<h1><a href="{% url 'index' %}">←</a> <a href="{% url 'show_forum' forum.id %}">{{ forum.title }}</a></h1>
{% else %}
<h1><a href="{% url 'index' %}">←</a> <a href="{% url 'show_forum' forum.parent.id %}">{{ forum.parent.title }}</a> :: <a href="{% url 'show_forum' forum.id %}">{{ forum.title }}</a></h1>
{% endif %}

<h2>Create a new thread in (sub)forum</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'add_thread' forum.id %}" method="post">
    {% csrf_token %}
    <dl>
        <dt>Thread title</dt>
        <dd><input name="title" size="30" type="text" /></dd>
        <dt>Content</dt>
        <dd>
            <textarea name="content" rows=10 cols=40 >
            </textarea>
        </dd>
        <dt><input type="submit" value="Create thread" /></dt>
        <dt>(You can use RST markup in the post content)</dt>
    </dl>
</form>
