<h1><a href="{% url 'index' %}">←</a> <a href="{% url 'show_forum' thread.subforum.id %}">{{ thread.subforum.title }}</a> :: <a href="{% url 'show_thread' thread.id %}">{{ thread.title }}</a></h1>

<h2>Post a new post in thread</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'add_post' thread.id %}" method="post">
{% csrf_token %}
<input name="title" size="30" type="text" />
<textarea name="content" rows=10 cols=40 >
</textarea>
<input type="submit" value="Write post" />
</form>