{% include "includes/start_tags.html" %}
{% include "includes/navbar.html" %}
<h1><a href="{% url 'index' %}">←</a> <a href="{% url 'show_forum' post.thread.subforum.id %}">{{ post.thread.subforum.title }}</a> :: <a href="{% url 'show_thread' post.thread.id %}">{{ post.thread.title }}</a></h1>

<h2>Edit a post in thread</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'edit_post' post.id %}" method="post">
    {% csrf_token %}
    <dl>
        <dt>Post title</dt>
        <dd><input name="title" size="30" type="text" value="{{ post.title }}" /></dd>
        <dt>Content</dt>
        <dd>
            <textarea name="content" rows=10 cols=40 >{{ post.content }}</textarea>
        </dd>
        <dt><input type="submit" value="Edit post" /></dt>
        <dt>(You can use RST markup in the post content)</dt>
    </dl>
</form>
{% include "includes/end_tags.html" %}
