<h1>Hjurpa djurpa forum index</h1>
{% if user.is_authenticated %}
<p>Welcome, {{ user.username }}. <a href="{% url 'logout' %}">Log out</a></p>
{% if user.is_staff %}
<p><a href="{% url 'add_forum' %}">Add</a> a forum?</p>
{% endif %}
{% else %}
<p>Welcome, user. Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">register</a> to enjoy all of the features of this forum.</p>
{% endif %}
{% if forum_list %}
    <ul>
    {% for forum in forum_list %}
        <li><a href="{% url 'show_forum' forum.id %}">{{ forum.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Welp, no (sub)forums.</p>
{% endif %}
