<h1><a href="{% url 'index' %}">←</a></h1>

<h2>Register to the bulletin board system</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <dl>
        <dt>User name</dt>
        <dd><input name="user_name" size="30" type="text" /></dd>
        <dt>E-mail</dt>
        <dd><input name="email" size="30" type="email" /></dd>
        <dt>Password (input twice)</dt>
        <dd><input name="password_1st" size="30" type="password" /></dd>
        <dd><input name="password_2nd" size="30" type="password" /></dd>
        <dt><input type="submit" value="Continue with registration" /></dt>
    </dl>
</form>
