{% if forum.is_root_cat %}
<h1><a href="{% url 'index' %}">←</a> <a href="{% url 'show_forum' forum.id %}">{{ forum.title }}</a></h1>
{% else %}
<h1><a href="{% url 'index' %}">←</a> <a href="{% url 'show_forum' forum.parent.id %}">{{ forum.parent.title }}</a> :: <a href="{% url 'show_forum' forum.id %}">{{ forum.title }}</a></h1>
{% endif %}
{% if subforums or threads %}
    <ul>
        {% for f in subforums %}
        <li><a href="{% url 'show_forum' f.id %}">{{ f.title }}</a></li>
        {% endfor %}
        {% for t in threads %}
        <li><a href="{% url 'show_thread' t.id %}">{{ t.title }}</a></li>
        {% endfor %}
    <ul>
{% else %}
    <p>Welp, no threads in this (sub)forum.</p>
{% endif %}