{% load docutils_stuff %}
{% load gravatar %}

<h1><a href="{% url 'index' %}">←</a> <a href="{% url 'show_forum' thread.subforum.id %}">{{ thread.subforum.title }}</a> :: <a href="{% url 'show_thread' thread.id %}">{{ thread.title }}</a></h1>
<a href="{% url 'add_post' thread.id %}">Add new post</a>
<ul>
{% for p in posts %}
    <li>
        <h2>
            <a href="{% url 'show_post' p.id %}">{{ p.title }}</a> (<a href="{% url 'edit_post' p.id %}">edit post</a>)
        </h2> 
        <img src="{% gravatar_url p.poster.email %}" alt="{{ p.poster }}'s avatar">
        <div>
            {{ p.content|escape|rst_to_html|safe }}
        </div>
        <h4>by {{ p.poster }}</h4>
    </li>
{% endfor %}
</ul>
<a href="{% url 'add_post' thread.id %}">Add new post</a>
