{% include "includes/start_tags.html" %}
{% include "includes/navbar.html" %}
{% load docutils_stuff %}
{% load gravatar %}
<div class="container theme-showcase">

<div class="page-header">
<h1><a href="{% url 'show_forum' thread.subforum.id %}">{{ thread.subforum.title }}</a> :: <a href="{% url 'show_thread' thread.id %}">{{ thread.title }}</a></h1>
</div>

<div class="well">
<p><a href="{% url 'add_post' thread.id %}"><button type="button" class="btn btn-default">Add new post</button></a></p>

<h3>{{ thread.title }}</h3>

{% for p in posts %}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
    <a href="{% url 'show_post' p.id %}"><h3 class="panel-title text-left col-xs-2">{{ p.title }}</h3></a>
    <a href="{% url 'edit_post' p.id %}"><button type="button" class="btn btn-default btn-sm col-xs-1 pull-right">Edit post</button></a>
    </div>
  </div>
  <div class="panel-body col-xs-1">
  <img src="{% gravatar_url p.poster.email %}" alt="{{ p.poster }}'s avatar">
  </div>
  <div class="panel-body">
    <div class="text-left">
      {{ p.content|escape|rst_to_html|safe }}
    </div>
    <p class="text-right"><strong>{{ p.poster }}</strong> @ {{ p.pub_date }}</p>
  </div>
</div>
{% endfor %}

<p><a href="{% url 'add_post' thread.id %}"><button type="button" class="btn btn-default">Add new post</button></a></p>
</div>

</div>
{% include "includes/end_tags.html" %}
