<h1><a href="{% url 'index' %}">←</a> <a href="{% url 'show_forum' thread.subforum.id %}">{{ thread.subforum.title }}</a> :: <a href="{% url 'show_thread' thread.id %}">{{ thread.title }}</a></h1>
<a href="{% url 'add_post' thread.id %}">Add new post</a>
<ul>
{% for p in posts %}
    <li>
        <h2>
            <a href="{% url 'show_post' p.id %}">{{ p.title }}</a>
        </h2>
        <p>
            {{ p.content }}
        </p>
    </li>
{% endfor %}
</ul>
<a href="{% url 'add_post' thread.id %}">Add new post</a>
