<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
  <style type="text/css">
  body {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .theme-dropdown .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 20px;
  }

  .theme-showcase > p > .btn {
    margin: 5px 0;
  }
  </style>
 </head>
 <body>
